:root {
    --grid-frame-size: 600px;
    --background-color: #eeeeee;
    --font-color: #031927;
    --shadow-color: rgba(0, 0, 0, 0.2);
}

body {
    background-color: var(--background-color);
    font-family: Poppins, Arial, sans-serif;
    color: var(--font-color);
}

h1 {
    font-size: 48px;
}

.grid {
    margin: auto;
    width: var(--grid-frame-size);
    height: var(--grid-frame-size);
    display: flex;
    flex-direction: column;
    box-shadow: 0px 0px 10px 2px var(--shadow-color);;
}

.line {
    display: flex;
    flex: 1;
}

.cell {
    background-color: var(rgb(255, 255, 255));
    flex: 1;
    /* border: 0.5px solid lightgray; */

}

.button {
    color: var(--font-color);
    display: inline-block;
    width: 120px;
    height: 40px;
    font-size: 24px;
    border: 2px solid var(--font-color);
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0px;
    padding: 0px;
    flex-wrap: nowrap;
}

.color-picker {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 100px;
    height: 100px;
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.color-picker::-webkit-color-swatch {
    border-radius: 15px;
    border: none;
}
.color-picker::-moz-color-swatch {
    border-radius: 15px;
    border: none;
}
