:root {
    --grid-frame-size: 600px;
}

body {
    background-color: antiquewhite;
}

.grid {
    margin: auto;
    width: var(--grid-frame-size);
    height: var(--grid-frame-size);
    display: flex;
    flex-direction: column;
}

.line {
    display: flex;
    flex: 1;
}

.cell {
    background-color: whitesmoke;
    flex: 1;
    /* border: 1px solid black; */
}